.banner-button {
    margin-top: 25px;
    margin-right: 25px;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    padding-left: 47px;
    padding-top: 10px;
    background-color: #080B12;
    color: white;
    border: 1px solid white;
    font-weight: 700;
}