body {
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    background-color:#141922;
}



main {
    height: calc(100% - 90px);
    display: flex;
    width: calc(120% - 150px);
    z-index: 1;
    background-color: rgb(30, 30, 30);
    background-attachment: fixed;
}

nav {
    height: calc(100% - 90px);
    width: 250px;
    background-color:rgba(0, 0, 0, 1);
    color: gainsboro; 
    position: fixed;
}

.main-content-box {
    width: 100%;
    transform: translateX(110px);
}

section {
    width:100%;
    background-color:#141922;
    color: white;
    margin-top: 90px;
    margin-left: 140px;
    margin-right: 20%;
}

.modal-banner {
    height: 90px;
    width: 100%;
    background-color: #080B12;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

footer {
    width: 100%;
    height: 90px;
    background-color:#282828;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 100;
}


.contenuto-navbar1 {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 16px;
    overflow-x: scroll;
    
}

.contenitore-profilo-nav {
    margin-top: 100%;
    position: absolute;
    bottom: 95px;
    left: 5px;
}

.playlist-scroll {
    height: 160px;
    overflow-x:scroll;

}
.box-brano {
    width: 180px;
}

.box-comandi-footer {
    width: 25%;
    margin-right: 16px;
}

/* .profile-box{
    position:sticky;
    bottom: 90px;
    
} */

.nav-svg {
    height: 2rem;
    width: 15%;
    margin-right:5px;
}

#logo-svg {
    height:2.5rem ;
    margin-left: 16px;

}

.icone-nav {
    font-size: 50px;
}

#img-footer {
   width: 3rem;
   height: 3rem;
}

.icone-footer {
    font-size: 1rem;
}

#player-commands {
    margin: 0 auto;

}

.player-bar-big {
    background-color: #5a5a5a;
    width: 50%;
    height: 6px;
    border-radius: 25px;
}

.player-bar-small {
    background-color: #c1c1c1;
    width: 40%;
    height: 6px;
    border-radius: 25px;

}

.no-wrapped {
    display: flex;
    flex-wrap: nowrap;
}


.library-cards {
    width: 200px;
    padding: 10px;
}

.card-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.positioned-bar {
    z-index: 15;
}

.little-side-bar {
    height: 100%;
    width: 40px;
    position: fixed;
}

.content-playlist {
    color: rgb(86, 86, 86);
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.playlist-color {
    color: rgb(86, 86, 86);
    font-size: 0.9rem;
    font-weight:800;
}

.main-text-size-color-big {
    font-size: 0.9rem;
    font-weight: 800;
    color: white;
}

.main-text-size-color-small {
    font-size: 0.7rem;
    color: rgb(107, 107, 107);
    font-weight: 700;
}


.round-container {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-size: cover;
}

.round-img-1 {
    background-image: url('../img/youg.jpeg');
}

.round-img-2 {
    background-image: url('../img/einaudi.jpeg');
}

.round-container-profile {
    background-color: rgb(86, 86, 86);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-image: url('../img/profile.svg');
    background-size: 30px;
}

.play-icon-main {
    top: 85px;
    left: 86px;
    color: rgba(255, 255, 255, 0);
}

.play-icon-main:hover {
    top: 85px;
    left: 86px;
    color: rgba(255, 255, 255, 1);
}

.menu-main {
    border-bottom: 1px solid green;

}